.react-flow__panel a{
  display: none !important;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.controls {
  margin-bottom: 10px;
}

button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:disabled {
  background: #aaa;
  cursor: not-allowed;
}

.flow-container {
  display: grid;
  grid-template-columns: 5rem 1fr;
}

.dummy-img {
  width: 2rem;
  height: auto;
}